.feedback
    padding: 68px 0
    display: flex
    background: url('../img/feedback/feedback-bg.png') no-repeat center left 160%
    background-size: contain
    position: relative
    z-index: 1
    height: 600px
    &:before
        content: ''
        left: 0
        top: 0
        width: 59%
        height: 100%
        background-color: #ffffff
        position: absolute
        z-index: -1
.form
    max-width: 575px
    &__title 
      +bold
      line-height: 35px
      margin-bottom: 45px
    &__subtitle
      margin-bottom: 48px
      display: block
    &__input
      padding: 23px
      width: 270px
      margin-bottom: 28px
      &:first-child
        margin-right: 30px
    &__button
      padding: 27px
      display: block
      width: 100%
      font-size: 16px
    &__output
      display: flex
      margin-top: 26px
      &-item 
        font-size: 15px
        width: 235px
        line-height: 24px
        margin-right: 67px
      &-item-sign
        font-size: 15px
        height: 43px 
        display: flex
        padding-top: 3px
      &-img
        min-width: 40px
        margin-right: 21px    
        border-radius: 50%
        border: 2px solid #cccccc
        background-size: 16px
        background-repeat: no-repeat
        background-position: center
        &-sign
          background-image: url('../img/feedback/phone.png')
      &-phone 
        
        display: block
        color: $text-color
        +bold
        line-height: 24px

    



