.footer
  display: flex
  background-color: #ffffff
  background-size: cover
  position: relative
  z-index: 1
  &:before
    content: ''
    left: 0
    top: 0
    width: 56%
    height: 100%
    position: absolute
    z-index: -1
  &-wrap
    display: flex
.map
  padding: 0
  margin: 0
  flex-basis: 56%
.contacts
  flex-basis: 44%
  padding-top: 100px
  padding-left: 134px
  padding-bottom: 80px
  &__title
    font-size: 24px
    line-height: 45px
    color: #000000
    +bold
    padding-bottom: 100px
  &__address 
    display: flex-box
    &_wrap
      display: flex
    &-img
      max-height: 23px
      padding-right: 20px
      margin: 0
    &-text
      font-size: 16px
      line-height: 26px
      width: 178px
      padding-bottom: 46px