.footer
  display: flex
.map
  flex-basis: 55%
  min-height: 645px
.contacts
  padding-top: 102px
  padding-left: 135px
  padding-bottom: 80px
  &__title
    font-size: 22px
    line-height: 33px
    color: #2c3442
    +bold
    padding-bottom: 107px
  &__address 
    display: flex-box
    &_wrap
      display: flex

    &-img
      max-width: 23px
      max-height: 23px
      padding-right: 20px
      margin: 0

    &-text
      font-size: 16px
      line-height: 26px
      width: 178px
      padding-bottom: 55px


    
