.footer
  display: flex
  background-color: #ffffff
  background-size: cover
  position: relative
  z-index: 1
  &:before
    content: ''
    left: 0
    top: 0
    width: 56%
    height: 92%
    position: absolute
    z-index: -1
  &-wrap
    display: flex
.map
  padding: 0
  margin: 0
  flex-basis: 56%
.contacts
  flex-basis: 44%
  padding-top: 73px
  padding-left: 141px
  &__title
    font-size: 22px
    line-height: 33px
    color: #000000
    +bold
    padding-bottom: 72px
  &__address 
    display: flex-box
    &_wrap
      display: flex
    &-img
      max-height: 23px
      padding-right: 20px
      margin: 0
    &-text
      font-size: 17px
      line-height: 26px
      width: 178px
      padding-bottom: 29px