@media (max-width: 1199px)
    .container
        width: 970px
@media (max-width: 992px)
    .container
        width: 767px 
    .main
        &-text
            &__title
                font-size: 30px
                line-height: 36px
    .feedback
        background: #fff
@media (max-width: 768px)
    .hidden-xs 
        display: none
    .container
        width: 95%
    .main
        &-wrap 
            flex-direction: column
        &-text 
            max-width: 400px
            margin: auto
            &__title
                text-align: center
@media (max-width: 480px)
    .header
        &-wrap
            display: block
            text-align: center
        &-text
            display: block
            text-align: center
            &_contacts
                text-align: center
                margin: auto
                padding-bottom: 20px
    .main
        padding: 0
    .container
        width: 90%
        flex-direction: column
        &-text 
            margin: auto
            &__title
                font-size: 20px
                line-height: 26px
    .feedback
        padding: 5px
    .form
        &__title
            padding-top: 15px
            padding-bottom: 15px
            font-size: 15px
            line-height: 20px
            text-align: center
            margin-bottom: 15px
        &__subtitle
            font-size: 15px
            line-height: 20px
            text-align: center 
        &__input
            width: 235px
        &__button
            width: 235px
            height: 67px
            font-size: 16px
            padding: 0
        &__output 
            display: inline-block
            width: 235px
            height: 150px
            text-align: center
            &-item
                font-size: 15px
                padding-bottom: 15px
                height: 50px
            &-item-sign
                display: block
                font-size: 15px
                height: 50px
            &-img-sign
                margin: auto
            &-phone
                font-size: 15px
                line-height: 20px
                margin-bottom: 50px

    

     

    