@media (max-width: 1200px)
    .section
        &-title
            line-height: 38px
            font-size: 27px
        &-subtitle
            font-size: 17px
    .container
        padding-left: 15px
        padding-right: 15px
        margin: 0 auto
        width: 992px
    .main
        &-text
            &__title
                font-size: 32px 
                line-height: 42px
    .feedback
        height: 700px
        &:before
    .form
        max-width: 505px
        &__button
            width: 95%
    .portfolio
        padding-top: 50px
        padding-bottom: 100px
    .slider
        &__item
            img
                max-width: 95%
    .price 
        .section-title
            padding-top: 50px
    .dogovor
        padding-top: 70px
    .dogovor-public
        height: auto
        &-title
            padding-top: 70px
            padding-bottom: 70px
            font-size: 28px
            line-height: 40px   
    .work
        padding-top: 50px
    .guarantee
        padding-bottom: 80px
        &__title
            line-height: 38px
            font-size: 27px
            padding-top: 70px
            padding-bottom: 50px
    .phone
        &__dialog 
            width: 992px
            &-advantages
                padding-top: 50px
                padding-left: 20px
                padding-right: 15px
            &-form
                padding-top: 50px
                padding-left: 50px
                padding-right: 20px
                &__input
                    width: 300px
                &__button
                    width: 300px
                &__output-phone
                    padding-bottom: 50px
    .footer
        flex-wrap: wrap
        &-wrap
            flex-wrap: wrap-reverse
        .map
            flex-basis: 100%
            margin-left: 15px
            margin-right: 15px
            margin: 0 auto
        .contacts
            text-align: center
            flex-basis: 100%
            padding: 50px 0 
            margin: 0 auto
            &__address
                display: flex
                text-align: center
                justify-content: center
                &_wrap
                    display: flex
                    flex-wrap: nowrap
                    justify-content: space-around
    .modal__dialog
        width: 985px
@media (max-width: 992px)
    .section
        &-title
            line-height: 33px
            font-size: 25px
        &-subtitle
            font-size: 15px
    .container
        padding-left: 15px
        padding-right: 15px
        margin: 0 auto
        width: 768px 
    .feedback
        height: 600px
        text-align: center
        justify-content: center
        &:before
            width: 100%
    .form
        max-width: 100%
        &__output
            justify-content: space-around
    .portfolio
        padding-bottom: 100px
    
    .dogovor-wrap
        display: flex
        flex-wrap: wrap
    .step
        margin: 70px 10px
    .dogovor-public
        &-title
            padding-top: 50px
            padding-bottom: 50px
            font-size: 25px
            line-height: 33px 
    .work
        text-align: center
        &-buy
            display: flex
            flex-wrap: wrap
            &-wrap
                &__text
                    font-size: 13px
                &__img
                    padding-bottom: 0
    .guarantee
        padding-bottom: 100px
        &__title
            font-size: 25px
            line-height: 33px
            padding-top: 30px
        &-wrap
            display: flex
            flex-wrap: wrap
            text-align: center
            &-item
                &__text
                    font-size: 13px
    .phone 
        display: flex
        background: none
        background-size: contain
        position: relative
        z-index: 1
        &:before
            height: 57%
            width: 100%
        &__dialog
            justify-content: center
            display: flex
            flex-wrap: wrap
            width: 768px
            margin: 0 auto
            &-advantages
                justify-content: center
                align-items: center
                padding: 0
                &__title 
                    width: 95%
                    text-align: center
                    padding: 40px 0
                    font-size: 22px
                    margin-bottom: 40px
                &__subtitle 
                    text-align: center
                    margin-bottom: 50px
                &__descr
                    width: 100%
                    height: 100%
            &-form
                background: url(../img/phone_fone.png)  
                flex-basis: 100%
                padding-top: 0
                padding-left: 60px
                &__title
                    padding-top: 20px
                    font-size: 22px
                    line-height: 30px
                &__input
                    width: 300px
                &__button 
                    width: 300px
                    background-color: #ffd200
    .footer
        .map
            flex-basis: 100%
            margin-left: 15px
            margin-right: 15px
            margin: 0 auto
        .contacts
            text-align: center
            flex-basis: 100%
            margin-left: 15px
            margin-right: 15px
            padding-top: 50px
            padding-bottom: 40px
            margin: 0 auto
        &__title
            font-size: 22px
            padding-bottom: 30px
        &__address 
            padding-left: 50%
            &_wrap
                padding-left: 50%
    .modal__dialog
        width: 758px
        &-advantages
            background-color: #fff
            margin-top: 40px
            padding-left: 50px
            &__text
                font-size: 12px
                line-height: 22px
            &__descr
                font-size: 10px
                line-height: 20px
                padding: 0
                padding-bottom: 20px
                ul 
                   padding-top: 10px 
        &-manager
            &__title
                font-size: 18px
                line-height: 25px
                margin: auto
                padding-top: 10px
                margin-bottom: 35px
            &__subtitle
                margin-bottom: 35px
        &-form
            display: block
            &__input
                width: 300px
                height: 50px
            &__button
                margin-bottom: 35px
                width: 300px
                height: 50px
                font-size: 15px
            &__tel
                font-size: 18px
@media (max-width: 768px)
    .hidden-xs 
        display: none
    .section
        &-title
            line-height: 30px
            font-size: 22px
        &-subtitle
            font-size: 14px
            line-height: 25px
    .container
        width: 576px
        padding-left: 15px
        padding-right: 15px
        margin: 0 auto
    .main
        padding: 20px 0
        &-wrap 
            flex-direction: column
        &-text 
            max-width: 400px
            margin: auto
            &__title
                margin-bottom: 20px
                margin-top: 20px
                text-align: center
                span
                    font-size: 17px
                    margin-top: 10px
        &-image
            width: 95%
            margin: 0 auto
    .feedback
        padding-top: 10px
        align-items: center
        margin-bottom: 20px
        &:before
    .form
        margin: 0 auto
        align-items: center
        justify-content: center
        &__input
            &:first-child
                margin-right: 0
        &__button
            width: 100%
    .portfolio
        padding-top: 20px
    .dogovor
        background-color: #ffffff
        padding-top: 30px
    .section-title
        padding-top: 20px
        padding-bottom: 40px
    .section-subtitle
        padding-bottom: 40px
    .dogovor-wrap
        display: flex
        flex-wrap: wrap
    .step
        max-width: 350px
        max-height: 200px
        text-align: center
        margin: 20px
        &_wrap
            max-width: 150px
            max-height: 200px
            &-img
                margin-top: 20px
                margin-bottom: 20px
                &-title
                    font-size: 10px
                    line-height: 18px
                    margin-bottom: 20px
                    margin-top: 20px
    .dogovor-public
        &-title
            font-size: 22px
            line-height: 30px
    .work-buy
        &-wrap
            &__text
                font-size: 15px        
    .guarantee
        padding-bottom: 50px
        &__title
            padding-top: 60px
            line-height: 30px
            font-size: 22px
        &-wrap
            &-item
                &__img
                    width: 300px
                &__text
                    font-size: 15px       
    .phone 
        display: flex
        &:before
            height: 54%
        &__dialog 
            flex-wrap: wrap
            width: 576px
            &-advantages 
                padding-left: 30px
                padding-top: 25px
                flex-basis: 100%
                &__descr
                    padding-top: 20px
                    padding-left: 30px
            &-form 
                padding-top: 30px
                justify-content: center
                flex-basis: 100%
                &__input
                    width: 300px
                &__button 
                    width: 300px
                &__manager
                    margin-bottom: 20px
    .footer
        .map
            flex-basis: 100%
            padding-left: 15px
            padding-right: 15px
            margin: 0 auto
        .contacts
            padding-left: 15px
            padding-right: 15px
            padding-top: 25px
            padding-bottom: 20px
            margin: 0 auto
            text-align: center
            &__title
                font-size: 20px
                line-height: 30px
                padding-bottom: 15px
            &__address
                &-text
                    font-size: 14px
                    line-height: 23px
                    width: 160px
    .modal__dialog
        display: block
        width: 95%
        max-height: 100%
        justify-content: center
        margin-bottom: 0
        &-advantages
            padding-top: 50px
            padding-bottom: 5px
            background-color: #fff
            width: 100%
            justify-content: center
            &__item
                display: flex
                margin-bottom: 15px
            &__text
                display: inline-block
                font-size: 13px
                line-height: 22px
                margin-bottom: auto
            &__img
                margin-right: 25px
            &__descr
                padding-top: 30px
                padding-bottom: 10px
                font-size: 12px
                line-height: 20px
        &-manager
            width: 100%
            display: block
            &__title
                font-size: 18px
                line-height: 28px
                margin-bottom: 25px
                text-align: center
            &__subtitle
                margin-bottom: 20px
                font-size: 14px
        &-form
            display: block
            text-align: center
            &__input
                width: 250px
                height: 50px
            &__button
                margin-bottom: 15px
                width: 250px
                height: 50px
                font-size: 15px
            &__tel
                font-size: 18px
                text-align: center
@media (max-width: 576px)
    .container 
        width: 320px
        padding-left: 15px
        padding-right: 15px
        margin: 0 auto
    .section
        &-title
            padding-top: 0
            line-height: 25px
            font-size: 20px
        &-subtitle
            font-size: 14px
            line-height: 20px    
    .header
        &-wrap
            display: block
            text-align: center
        &-text
            display: block
            text-align: center
            &_contacts
                text-align: center
                margin: auto
                padding-bottom: 20px
    .feedback
        margin-top: 50px
        margin-bottom: 100px
    .form__button
        width: 100% 
    .portfolio
        margin: 0 auto
        align-items: center
        justify-content: center
    .form
        &__title
            line-height: 25px
            font-size: 20px
        &__output
            display: block
            justify-content: center
            text-align: center
            &-item
                width: 100%
                font-size: 16px
                padding-bottom: 20px
                &-sign
                    width: 100%
                    font-size: 16px
    .dogovor-public
        &-title
            line-height: 25px
            font-size: 20px
    .phone
        margin: 0 auto
        &:before
            height: 51%
        &__dialog 
            width: 100%
            &-advantages 
                padding: 0
                flex-basis: 100%
                &__title
                    width: 100%
                    margin-bottom: 12px
                &__subtitle
                    margin-bottom: 12px
                    font-size: 14px
                    line-height: 20px
                &__descr
                    padding-top: 12px
                    padding-left: 30px
                    font-size: 14px
            &-form 
                padding: 0
                &__title
                    width: 100%
                    margin-bottom: 100px
                &__subtitle
                    font-size: 14px
                    line-height: 20px   
    .footer
        .map
            flex-basis: 100%
            padding-left: 15px
            padding-right: 15px
            margin: 0 auto
        .contacts
            padding-left: 15px
            padding-right: 15px
            padding-top: 25px
            padding-bottom: 20px
            margin: 0 auto
            &__title
                text-align: center
                line-height: 23px
                font-size: 18px
                padding-bottom: 15px
            &__address
                display: block
                &_wrap
                &-text
                    text-align: center
    .modal__dialog
        &-advantages
            display: block
            padding-top: 25px
            &__item
                display: block
                margin-bottom: 15px
            &__img
                width: 170px
            &__descr
                padding-top: 18px
                font-size: 11px
                line-height: 18px
        &-manager
            width: 95%
            display: flex
            &__title
                font-size: 16px
            &__subtitle
                font-size: 13px
                text-align: center
        &-form
            &__text
                margin-left: 0
                margin-right: 0
                width: auto
                font-size: 13px
            &__tel
                font-size: 16px
                text-align: center
                justify-content: center  