.phone 
  width: auto
  height: auto
  margin: 0 auto
  display: flex
  justify-content: center
  align-items: center
  padding-top: 10px
  &__dialog 
    width: 1930px
    height: 670px
    background-color: #fefefe
    margin: 0 auto
    display: flex
    &-advantages
      padding-top: 106px
      padding-left: 0 auto
      background-color:#ffc000
      display: block
      flex-basis: 55%
      padding-bottom: 109px
      &__title 
        color: #000000
        font-size: 22px
        line-height: 33px
        padding-left: o auto
        padding-right: o auto
        text-align: center

      &__subtitle 
        font-size: 16px
        color: #000000
        line-height: 45px
        padding-left: o auto
        text-align: center 
      &__descr
        display: block
        padding-top: 50px
        padding-left: 100px
        padding-right: auto
        line-height: 40px
       
    &-form 
      padding-top: 103px
      background: url('../img/phone_fone.png') no-repeat
      display: block
      flex-basis: 45%
      &__title 
        width: 336px
        height: 54px
        color: #333333
        font-size: 22px
        font-weight: 400
        line-height: 33px
        margin-bottom: 52px
        margin-left: 152px
      &__subtitle
        color: #333333
        font-size: 16px
        line-height: 35px
        padding-bottom: 49px
        margin-left: 193px
      &__input 
        width: 370px
        height: 65px
        border-radius: 10px
        border: 1px solid #dddddd
        background-color: #ffffff
        margin-left: 134px
        display: block
        margin-bottom: 15px
      &__button
        width: 368px
        height: 70px
        border-radius: 10px
        background-color: #ffd200
        display: block
        margin-left: 134px
        margin-top: 30px
        margin-bottom: 33px
      &__manager
        color: #333333
        font-size: 15px
        line-height: 24px
        margin-left: 173px