.phone
  width: 100%
  height: 660px
  &__dialog
    background-color: #fff
    margin: auto
    display: flex
    justify-content: center
    align-items: center
    &-advantages
      display: flex
      width: 54%
      height: 92%
      &__title
        width: 515px
        height: 54px
        color: #000000
        font-family: "Museo Sans Cyrl -700"
        font-size: 22px
        font-weight: 400
        line-height: 33px
      &__subtitle
        width: 303px
        height: 16px
        color: #000000
        font-family: "Museo Sans Cyrl -300"
        font-size: 16px
        font-weight: 400
        line-height: 45px