.phone 
  display: flex
  background: url(../img/phone_fone.png) no-repeat center left 100%
  background-size: contain
  position: relative
  z-index: 1
  &:before
    content: ''
    left: 0
    top: 0
    width: 56%
    height: 100%
    background-color: $primary-color
    position: absolute
    z-index: -1
  &__dialog 
    display: flex
    &-advantages
      padding: 82px 0 0 0
      flex-basis: 56%    
      &__title 
        width: 516px
        font-size: 22px
        line-height: 33px
        margin-bottom: 30px
        color: #000000
        +bold
      &__subtitle 
        font-size: 16px
        color: #000000
        line-height: 45px
        margin-bottom: 71px
      &__descr  
        display: flex
        width: 447px
        height: 242px
        flex-direction: column
        font-size: 18px
        +bold
        color: #000000
        
        ul
          margin-left: -40px
          li
            display: flex
            position: relative
            margin-bottom: 40px
            padding-left: 70px
            align-items: center
            list-style: none
            &:before
              display: block
              padding-top: 5px
              padding-left: 4px
              position: absolute
              content: ''
              left: 0
              width: 35px
              height: 35px
              text-align: center
              border: 2px solid #000000
              border-radius: 50%
          #first
            &:before
              content: '1.'
          #second
            &:before
              content: '2.'
          #tree
            &:before
              content: '3.'    
          #four
            &:before
              content: '4.'  

    &-form 
      text-align: center
      padding-top: 95px
      padding-left: 137px
      display: block
      flex-basis: 44%
      &__title 
        height: 54px
        color: #333333
        +bold
        font-size: 22px
        line-height: 33px
        margin-bottom: 52px
      &__subtitle
        color: #333333
        font-size: 16px
        line-height: 35px
        padding-bottom: 40px
      &__input 
        width: 370px
        height: 65px
        font-size: 15px
        border-radius: 10px
        border: 1px solid #dddddd
        background-color: #ffffff
        margin-bottom: 13px
      &__button
        width: 368px
        height: 70px
        font-size: 16px
        color: #333333
        border-radius: 10px
        background-color: #ffd200
        margin-top: 20px
        margin-bottom: 26px
      &__manager
        color: #333333
        font-size: 15px
        line-height: 24px
        margin-bottom: 93px