.portfolio
    padding:
        top: 63px
        bottom: 185px
    background: url('../img/portfolio/bg-slider.png')
    z-index: 1
    position: relative
    &:before
        content: ''
        right: 0
        top: 0
        width: 41%
        height: 100%
        background-color: #f5f5f5
        position: absolute
        z-index: -1
    .section-title
        padding-bottom: 63px
.slider
    &__item
        text-align: center
        img
            margin: auto //когда картинка съезжает влево в миниверсии//
            padding-top: 0 
            padding-bottom: 0
            padding-left: 0
            padding-right: 29px
.arrow
    width: 45px
    height: 19px
    background-color: #000
    position: absolute
    bottom: -86px
    a:hover
        cursor: pointer

    &_right
        left: 50%
        background: url('../img/arrow-right.png') no-repeat center
        background-size: 100%
        transform: translateX(15px)
    &_left
        left: 50%
        background: url('../img/arrow-left.png') no-repeat center
        transform: translateX(-45px)
        margin-left: -15px