.work
    padding-top: 100px
    &-buy
        display: flex
        flex-wrap: nowrap
        
        &__img
            padding: 25px

    &-guarantee
        padding-bottom: 228px
        &__title
            padding-bottom: 131px
            padding-top: 143px
            line-height: 45px
        &-wrap
            display: flex
            flex-wrap: nowrap
            &-item
                
                &__img  
                    width: 215px
                    height: 306px
                    padding: 30px
                    
                &__text
                    font-size: 18px
                    line-height: 24px
